html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "sans go";
  src: url('./fonts/sans-g.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "sans go";
  src: url('./fonts/sans-g.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin:0; 
  padding:0; 
  font-size: 15px;
  font-family: "sans go", san-serif !important;
}
a, a:hover, a:visited {
  color: #0071bc;
}
.mapboxgl-map {
  top:0; 
  height: 100vh;
  width:70%;
  position: fixed;
  z-index: 5;
}
#header {
  margin: 3vh auto;
  width: 90vw;
  padding: 2vh;
  text-align: center;
  background-color: transparent !important;
}
#footer {
  width: 100%;
  margin-top: 30px;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 100;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
/* .lefty {
  width: 33vw;
  margin-left: 5vw;
} */
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.25;
}
.step.active {
  opacity: 0.9;
}

.step div {
  padding:  25px 50px;
  line-height: 25px;
  font-size: 16px;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  
.step img {
  width: 100%;
}

@media (max-width: 750px) {
  #features {
      width: 90vw;
      margin: 0 auto;
  }
}



#legend {
  padding-bottom: 50vh;
  padding:  25px 50px;
  line-height: 25px;
  float: right;
  margin-top: -50vh;
  margin-right: 10%;
  font-size: 13px;
}


.btn-summary {
  border: 2px solid #f16a94;
  margin:0 10px;
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #F92E6D, #F66C06);
}
.link {
  /* height: 80vh; */
  top: 90vh;
  position: absolute;
  position: fixed;

}



.pie-container {
  transition: padding .7s ease;
  padding: 10px 13%;
}

#pieChart {
  max-width: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  counter-reset: break-point 80;
}
#pieChart svg {
  overflow: visible;
  transition: width .7s ease;
}
#pieChart path {
  cursor: pointer;
}

#pieText {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pieText .panel {
  background-color: #111;
  /* width: 100%; */
  /* height: 60%; */
  border-radius: 7px;
  padding: 0 3px;
  float: left;
  transition: height .7s ease, padding .7s ease;
  perspective: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  overflow: hidden;
  transform-style: preserve-3d;
}

#segmentTitle, #segmentText {
  text-shadow: 1px 1px 3px #000, 1px 1px 3px #000;
  text-align: center;
}

#segmentTitle {
  transition: padding .7s ease;
  padding: 20px;
  font-size: calc( 19px + (35 - 19) * (100vw - 200px) / (1314 - 200));
}
@media screen and (max-width: 200px) {
  #segmentTitle {
    font-size: 19px;
  }
}
@media screen and (min-width: 1314px) {
  #segmentTitle {
    font-size: 35px;
  }
}

#segmentText {
  width: 100%;
  transition: padding .7s ease, line-height .7s ease;
  padding: 15px 20px 20px;
  font-size: calc( 14px + (21 - 14) * (100vw - 200px) / (1314 - 200));
  line-height: 28px;
}
@media screen and (max-width: 200px) {
  #segmentText {
    font-size: 14px;
  }
}
@media screen and (min-width: 1314px) {
  #segmentText {
    font-size: 21px;
  }
}

@media (max-width: 360px) {
  div.pie-container {
    padding: 10px 12%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 40;
  }
  div.pie-container #pieChart svg {
    width: 100%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 230px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 2px 4px 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 2px 4px 4px;
    line-height: 16px;
  }
}
@media (min-width: 360.02px) and (max-width: 442px) {
  div.pie-container {
    padding: 10px 10%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 53;
  }
  div.pie-container #pieChart svg {
    width: 70%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 210px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 4px;
    line-height: 18px;
  }
}
@media (min-width: 442.02px) and (max-width: 575.98px) {
  div.pie-container {
    padding: 10px 10%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 60;
  }
  div.pie-container #pieChart svg {
    width: 70%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 200px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 4px 4px;
    line-height: 21px;
  }
}
@media (min-width: 576px) and (max-width: 637.98px) {
  div.pie-container {
    padding: 10px 12%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 70;
  }
  div.pie-container #pieChart svg {
    width: 60%;
  }
  div.pie-container #pieText {
    margin-top: 20px;
  }
  div.pie-container #pieText .panel {
    padding: 0;
    height: 205px;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 8px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 8px 8px;
    line-height: 24px;
  }
}
@media (min-width: 638px) and (max-width: 767px) {
  div.pie-container {
    padding: 10px 15%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 80;
  }
  div.pie-container #pieChart svg {
    width: 60%;
  }
  div.pie-container #pieText {
    margin-top: 20px;
  }
  div.pie-container #pieText .panel {
    padding: 0 3px;
    height: 270px;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 15px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 15px;
    line-height: 27px;
  }
}
@media (min-width: 767.02px) and (max-width: 965px) {
  div.pie-container {
    padding: 10px 4%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 50;
  }
  div.pie-container #pieText .panel {
    height: 82%;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 8px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 8px 8px;
    line-height: 23px;
  }
}
@media (min-width: 965.02px) and (max-width: 1314px) {
  div.pie-container {
    padding: 10px 5%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 60;
  }
  div.pie-container #pieText .panel {
    height: 70%;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 10px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 5px 10px 10px;
  }
}
@media (min-width: 1314.02px) and (max-width: 1480px) {
  div.pie-container {
    padding: 10px 8%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 70;
  }
  div.pie-container #pieText .panel #segmentText {
    padding-top: 10px;
  }
}
