html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "sans go";
  src: url('./fonts/sans-g.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "sans go";
  src: url('./fonts/sans-g.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin:0; 
  padding:0; 
  font-size: 15px;
  font-family: "sans go", san-serif !important;
}
a, a:hover, a:visited {
  color: #0071bc;
}
.mapboxgl-map {
  top:0; 
  height: 100vh;
  width:70%;
  position: fixed;
  z-index: 5;
}
#header {
  margin: 3vh auto;
  width: 90vw;
  padding: 2vh;
  text-align: center;
  background-color: transparent !important;
}
#footer {
  width: 100%;
  margin-top: 30px;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 100;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
/* .lefty {
  width: 33vw;
  margin-left: 5vw;
} */
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.light {
  color: #444;
  background-color: #ffffff;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.25;
}
.step.active {
  opacity: 0.9;
}

.step div.desc {
  padding:  25px 50px;
  line-height: 25px;
  font-size: 16px;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  
.step img {
  width: 100%;
}

@media (max-width: 750px) {
  #features {
      width: 90vw;
      margin: 0 auto;
  }
}



#legend {
  padding-bottom: 50vh;
  padding:  25px 50px;
  line-height: 25px;
  float: right;
  margin-top: -50vh;
  margin-right: 10%;
  font-size: 13px;
}


.btn-summary {
  border: 2px solid #f16a94;
  margin:0 10px;
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #F92E6D, #F66C06);
}
.link {
  /* height: 80vh; */
  top: 90vh;
  position: absolute;
  position: fixed;

}



.chart {
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;

}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
}
  .doughnutTip::after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }

.doughnutSummary {
  position: absolute;
  top: 50%;
  display: none;
  left: 50%;
  color: red;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}
.chart path:hover { opacity: 0.65; }



.chartBarsWrap {
  padding-left: 40px;
  margin: 0 30px 0 20px;
}
.chartBars {
  position: relative;
  max-width: 600px;
  height: 300px;
  margin: 50px auto 100px;
}
.chartBars .bars {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 0 1%;
  margin: 0;
}
.chartBars .bars li {
  display: inline-block;
  -webkit-box-flex: 0;
          flex: 0 1 24%;
  height: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 16px;
}
.chartBars .bars li .bar {
  width: 100%;
  background: #49E;
  position: absolute;
  font-size: 1.5em;
  color: #fff;
  padding-top: 18px;
  bottom: 0;
  height: 0;
  overflow: hidden;
  font-weight: bold;
  outline: 2px solid transparent;
  -webkit-transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
  transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
}
.chartBars .bars li .bar:after {
  content: ' Meters';
  font-size: 22px !important;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.8);
  margin-right: -8px;
}
.chartBars .bars li b {
  color: #333333;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
.chartBars .numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: -50px;
}
.chartBars .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 59px;
  position: relative;
  font-size: 13px;
  bottom: 11px;
  right: -9px;
  color: #333333;
}
.chartBars .numbers li:after {
  content: "\00af";
  position: relative;
  right: -5px;
  font-size: 20px;
  top: 7px;
  color: rgba(255, 255, 255, 0.34);
}
.chartBars .numbers li:first-of-type {
  height: 63px;
  margin-top: -1px;
}
.chartBars1 .bar {
  border-radius: 5px;
}
.chartBars2 {
  max-width: 350px;
}
.chartBars2 .bars {
  padding: 0;
}
.chartBars2 .bars li {
  -webkit-box-flex: 0;
          flex: 0 1 25%;
}
.chartBars2 .bars li .bar {
  box-shadow: 0 0 20px #222;
}
.chartBars3 {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid #666;
  border-right: 1px solid #666;
}
.chartBars3 .bars {
  border-color: #666;
  padding: 0;
}
.chartBars3 .bars li .bar {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 22px !important;
}
.chartBars3 .bars li .bar:after {
  font-size: 0.6em !important;
}
.chartBarsWrap.chartBarsHorizontal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-left: 70px;
}
.chartBarsWrap.chartBarsHorizontal .bars b {
  color: #333333 ;
  width: 100%;
  position: absolute;
  bottom: initial;
  top: 1em;
  left: -102%;
  text-align: right;
}
.chartBarsWrap.chartBarsHorizontal .chartBars {
  height: 200px;
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars {
  border: 0;
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar {
  width: 0;
  padding-top: 10px;
  height: 100% !important;
  text-align: right;
  font-size: 1.5em;
  -webkit-transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
  transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar:after {
  font-size: 0.6em !important;
  margin-right: 20px;
}
.bars li .bar.greenBar {
  background-color: #6B8E23;
  background: radial-gradient(#99cb32, #6B8E23);
}
.bars li .bar.greenBarFlat {
  background-color: #6B8E23;
}
.bars li .bar.blueBar {
  background-color: #49E;
  background: radial-gradient(#8abff4, #49E);
}
.bars li .bar.darkBlueBarFlat {
  background-color: rgb(8, 49, 90);
}

.bars li .bar.mediumBlueBarFlat {
  background-color: rgb(21, 102, 182);
}


.bars li .bar.blueBarFlat {
  background-color: #49E;
}
.bars li .bar.orangeBar {
  background-color: orange;
  background: radial-gradient(#ffc04d, #FFA500);
}
.bars li .bar.orangeBarFlat {
  background-color: orange;
}
.bars li .bar.purpleBar {
  background-color: #6e46af;
  background: radial-gradient(#9778c9, #6e46af);
}
.bars li .bar.purpleBarFlat {
  background-color: #6e46af;
}
.box-piesite {
  text-align: center;
  font-size: 22px;
}
.piesite {
  position: relative;
  width: 1em;
  height: 1em;
  font-size: 10em;
  cursor: default;
}
.piesite .percent {
  position: absolute;
  top: 1.1em;
  left: 0.1em;
  width: 100%;
  font-size: 0.3em;
  text-align: center;
  z-index: 2;
}
.piesite .percent .symbol {
  font-size: 0.5em;
  vertical-align: top;
  opacity: 0.5;
}
.piesite > #slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0px, 1em, 1em, 0.5em);
}
.piesite > #slice.gt50 {
  clip: rect(auto, auto, auto, auto);
}
.piesite > #slice > .pie {
  position: absolute;
  border: 0.1em solid #444;
  width: 1em;
  height: 1em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 0.5em;
}
li.design .piesite > #slice > .pie {
  border-color: #49E;
}
li.usability .piesite > #slice > .pie {
  border-color: #FFA500;
}
li.creativity .piesite > #slice > .pie {
  border-color: #6B8E23;
}
.piesite > #slice > .pie.fill {
  -webkit-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}
.piesite.fill > .percent {
  display: none;
}
.piesite:after {
  content: '';
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 0.8em;
  height: 0.8em;
  background: #30303A;
  border-radius: 100%;
  z-index: 1;
}
.piesite:before {
  content: '';
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  opacity: 0.5;
  z-index: 0;
}
.piesite:before {
  /* background: rgba(255, 255, 255, 0.1); */
}
.box-piesite ul {
  padding: 0;
}
.box-piesite ul li {
  display: inline-block;
  margin: 10px 20px;
}
.chartBarsHorizontal .chartBars .bars {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
@media screen and (min-width: 600px) {
  .bar:before {
    font-size: 2em !important;
  }
  .chartBars3 .bar:before {
    font-size: 1.5em !important;
  }
}
.tooltip > .tooltipContent {
  display: block;
  position: absolute;
  background: none repeat scroll 0 0 #222;
  color: #F0B015;
  font-family: 'Helvetica';
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.5em;
  padding: 16px 15px;
  min-width: 200px;
  max-width: 500px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -110%);
          transform: translate(-50%, -110%);
  margin-left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  text-align: center;
  z-index: 2;
  text-transform: none;
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tooltip:hover > .tooltipContent {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 99;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tooltip .tooltipContent:after {
  border-color: #222 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 15px 15px 0;
  bottom: -15px;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  width: 0;
}

h1,
h2,
h3 {
  text-align: center;
}
h1 {
  margin: 100px auto 0;
  color: #F0B015;
}
h2 {
  margin: 20px auto 0;
  font-size: 1.2em;
}
p {
  margin: 5vw auto;
  padding: 0 5vw;
  line-height: 2em;
  max-width: 60em;
}
