* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

@font-face {
    font-family: "sans go";
    src: url('./fonts/sans-g.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "sans go";
    src: url('./fonts/sans-g.ttf') format('truetype');
    font-weight: normal;
}

body {
    font-family: "sans go", san-serif !important;
    color: #4a4a4a;
}

div.description {
    padding: 25px 25px;
    width: 100%;
}

section {
    height: 100vh;
    line-height: 25px;
    padding: 20px 5px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 15px;
    position: relative;
    word-wrap: break-word;
}

section.active {
    opacity: 1;
}

section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}
.marker {
    background-image: url('./marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }



.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'sans go', sans-serif;
}

.arrow_down {
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, 50%);
}
